@charset "UTF-8";

.comments{
    overflow-y: auto;
    word-break: break-word;
    padding: 0 2rem;
    min-height: 2rem;
}

.single.comments{
    height: 8rem;
    overflow: scroll;
    padding: 0px;
}

.comments li{
    margin-bottom: .5rem;
    line-height: 1.2;
}